/*------------------------------------*\
#FONTS
\*------------------------------------*/

@font-face {
    font-family: "Quattrocento";
    font-weight: 400;
    src: url("../fonts/Quattrocento-Regular.woff2") format("woff2")
}

@font-face {
    font-family: "Quattrocento Bold";
    font-weight: 700;
    src: url("../fonts/Quattrocento-Regular.woff2") format("woff2")
}

/*------------------------------------*\
#Variables
\*------------------------------------*/
:root 
{
     /* colors */
    --global-second: ;
    --global-minute: ;
    --global-hour: ;

    --global-dark: #292929;
    --global-dark-x: #1e1e1e;
    --global-dark-xx: #121212;

    --global-light: #ffffff;

    /* Clock Swatch 1*/
    --global-clock1-light-x: #E8E1D1;
    --global-clock1-light-xx: #EBEBEB;
    --global-clock1-light-xxx: #CBCBCB;
    --global-clock1-light-xxxx: #5C5C5C;

    /* Clock Swatch 2*/
    /* --global-clock2-light-x: #FFF5E5;
    --global-clock2-light-xxx: #FF9998;
    --global-clock2-light-xxxx: #545170; */

    /* --global-body-color: var(--global-clock2-light-xxx);
    --global-background-color: var(--global-clock2-light-x);;
    --global-border-color: var(--global-clock2-light-xxxx);
    --global-color: var(--global-dark); */

    --global-baseline: 8px;
    --global-whitespace-md: calc(var(--global-baseline)*2);
    --global-whitespace: calc(var(--global-baseline)*3);

    --global-body-color: var(--global-clock1-light-xxx);
    --global-background-color: var(--global-clock1-light-xx);
    --global-border-color: var(--global-clock1-light-xxxx);
    --global-color: var(--global-dark);
    --global-color-hands: var(--global-dark);

    --global-boxshadow: var(--global-boxshadow-light);

    --global-boxshadow-dark: 
        inset 0 -15px 15px rgba(255, 255, 255, 0.05), 
        0 15px 15px rgba(0, 0, 0, 0.4),
        inset 0 15px 15px rgba(0, 0, 0, 0.4);
    --global-boxshadow-light: 
        inset 0 -15px 15px rgba(255, 255, 255, 0.05), 
        0 8px 16px rgba(0, 0, 0, 0.4),
        inset 0 8px 16px rgba(0, 0, 0, 0.2);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html 
{
    font-size: 24px;
    line-height: 1.5;
    font-family: "Quattrocento", Helvetica, arial, sans-serif;
    font-weight: bold;
    background-color: var(--global-body-color);
    color: var(--global-color);  

    transition: background-color .5s ease, color .5s ease;
}

*,
*:before,
*:after 
{
    box-sizing: inherit;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
.c-app
{
    max-width: 400px;
    margin: 0 auto;
    min-height: 100%;
    display: grid;
    justify-content: center;
}

.c-clock
{
    margin: auto;
    margin-bottom: 0;
    width: 300px;
    height: 300px;
    background-color: var(--global-background-color);
    border-radius: 50%;
    border: 8px solid var(--global-border-color);
	box-shadow: var(--global-boxshadow);
    position: relative;
}

.c-clock .c-number{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.c-clock .c-number1{
    --rotation: 30deg;
}

.c-clock .c-number2{
    --rotation: 60deg;
}

.c-clock .c-number3{
    --rotation: 90deg;
}

.c-clock .c-number4{
    --rotation: 120deg;
}

.c-clock .c-number5{
    --rotation: 150deg;
}

.c-clock .c-number6{
    --rotation: 180deg;
}

.c-clock .c-number7{
    --rotation: 210deg;
}

.c-clock .c-number8{
    --rotation: 240deg;
}

.c-clock .c-number9{
    --rotation: 270deg;
}

.c-clock .c-number10{
    --rotation: 300deg;
}

.c-clock .c-number11{
    --rotation: 330deg;
}

.c-clock .c-hand{
    position: absolute;
    bottom: 50%;
    left: 50%;

    border-radius: 6px;
    z-index: 10;

    background-color: var(--global-dark);
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.c-clock .c-hand.c-secondhand
{
    width: 4px;
    height: 45%;
    background-color: #fa0053;
}

.c-clock .c-hand.c-minutehand
{
    width: 6px;
    height: 40%;
    background-color: var(--global-color-hands);

    transition: all 0.5s ease-in-out;
}

.c-clock .c-hand.c-hourhand
{
    width: 8px;
    height: 35%;
    background-color: var(--global-color-hands);

    transition: all 0.5s ease-in-out;
}

.c-clock::before
{
    content: "";
    position: absolute;
    background-color: var(--global-color-hands);
    z-index: 16;

    width: 16px;
    height: 16px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
}

.c-time
{
    margin-top: 64px;
    height: 150px;
    text-align: center;
}

.c-cities
{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.c-cities-select
{
    display: block;
    position: relative;
}

.c-cities-select__input
{
    --cities-select__input--border: 1px;
    --cities-select__input--border-radius: 1px;

    appearance: none;
    outline: none;

    width: 100%;
    padding: calc(var(--global-baseline) * 1.5 - var(--cities-select__input--border)) var(--global-whitespace-md);

    box-sizing: border-box;
    border: var(--cities-select__input--border) solid var(--global-border-color);
    border-radius: 4px;

    background-color: var(--global-background-color);
    color: var(--global-color);

    font-family: inherit;
    font-size: 16px;

    line-height: calc(var(--global-baseline) * 3);
    transition: background-color .5s ease, color .5s ease;
}

.c-cities-select__symbol
{
    width: var(--global-whitespace);
    height: var(--global-whitespace);
    position: absolute;

    top: calc(var(--global-whitespace)/2);
    right: calc(var(--global-whitespace)/2);

    pointer-events: none;
    fill: var(--global-color);
}
/*------------------------------------*\
#STATES
\*------------------------------------*/

.is-night {
    --global-body-color: var(--global-dark-x);
    --global-background-color: var(--global-dark);
    --global-border-color: var(--global-dark-xx);
    --global-color: var(--global-light);
    --global-boxshadow : var(--global-boxshadow-dark);
    --global-color-hands: var(--global-light);

    font-weight: 400;
}